<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadioTrack_ReaderClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RadioTrack_ReaderClient.Properties.Settings.databaseConnStr_primary"
            connectionString="server=ben-win-server;user id=radiotrackuser;password=finalyearproject;persistsecurityinfo=True;database=rfidtrack"
            providerName="MySql.Data.MySqlClient" />
        <add name="RadioTrack_ReaderClient.Properties.Settings.databaseConnStr_backup"
            connectionString="server=;user id=;password=;persistsecurityinfo=True;database="
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <RadioTrack_ReaderClient.Properties.Settings>
            <setting name="thisStation" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="defaultDatabase" serializeAs="String">
                <value>primary</value>
            </setting>
        </RadioTrack_ReaderClient.Properties.Settings>
    </userSettings>
</configuration>